* {
  border: 1px solid rgba(255, 0, 0, 0);
}
#foto2 {
	margin-left: 0%;
    

}



.foto {
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.topico {
	padding: 0px;
	margin-bottom: 0px;
  display: flex;
  align-items: center;

}
.slider{
    margin: 0 auto;
    width: 400%;
    height: 800px;
    overflow: hidden;
    margin-top: 30px;
  }
  
  .slides{
    width: 100%;
    height: 350px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 25%;
    position: relative;
    transition: 1s;
  }
  
  .slide img{
    width:  100%;
    
  }
  
  .manual-navigation{
    position: absolute;
    width: 980px;
    margin-top: 340px;
    display: flex;
    justify-content: center;
    margin-left: 23%;
   
    
  }
  
  .manual-btn{
    border: 2px solid #000000;
    padding: 50px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
    padding: 23px;
    border-radius: 50px;
   
  }
  
  .manual-btn:not(:last-child){
    margin-right: 5px;
  }
  
  .manual-btn:hover{
    background-color: #171d20;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -50%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -75%;
  }
  
  .navigation-auto div{
    border: 2px solid #92D1FF;
    padding: 23px;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
    
  }
  
  .navigation-auto{
    position: absolute;
    width: 980px;
    margin-top: 690px;
    display: flex;
    justify-content: center;
    margin-left: 23%;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 5px;
  }
  
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #92D1FF ;
    
  }
  
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #92D1FF;
  }
  
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #92D1FF;
  }
  
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #92D1FF;
  }
  

  * {
    padding: 0px;
    margin: 0px;
    
    font-family: Mate SC;
}
    /* Inicio cabeçalho */
    

    #foto2 {
      margin-left: 28%;
        
    
    }
    #foto2:hover{
    
      transform: scale(1.1);
      transition: all 0.5s;
  }
    

    #botlogo{
      margin-right: 15%;
    }

    .topico {
      padding: 0px;
      margin-bottom: 0px;
    }
    



   .logincerto{
    align-content: center;
   }
    .botoes{
        background-color: #93D1FF;
        border-radius: 40px;
        border-color: #ffffff;
        height: 50px;
        width: 120px;
        font-family: Mate SC;
        font-size: larger;
        margin-bottom: 10%;
        
     
       
    }

    .botoes:hover{
      background-color: #93D1FF;
      box-shadow: 5px 2px #4b93ca;
      transform: scale(1.1);
      transition: all 0.5s;
  }
    .botao{
        width: 600px;
        justify-content: space-between;
        padding: 15px;
        padding-left: 10px;
        align-items: center;

    }
/* Inicio Corpo */




/* Imagem principal e agende e preços */
    main{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 685px;
        z-index: 0;

    }
    
    .agende{
        background-image: url(images/Fundohp.jfif);
        height: 222px;
        width: 100%;
        
    
    }

    .textoagende{
        width: 100%;
        padding-left: 44%;
        font-family: Mate SC;
    }

    .precoa{
        width: 100%;
        padding-left: 43%;
        top: 12%;
        
    }
    .unidade{
        width: 100%;
        padding-left: 43%;
        top: 14%;
        z-index: 1;
    }

.retangulounidade{
    width: 200px;
    height: 20px;
    background-color: #fff;
    border-radius: 25px;
    position: absolute;
    right: 46%;
    z-index: 0; 
}



main{
  height: 1100px;
}
    
    /* Inicio Rodapé */
    footer{
      margin-top: 50%;
        background-image: url(images/imgfooter.png);
        background-size: cover;
        
        width: 100%;
        height: 600px;
        
    }

    .letrasfinais{
        color: #fff;
    }
#direitos{
    position: absolute;
    bottom: 1%;
    
}

.meio{
  height:500px;
  background-color: #B5DDFC;
  width: 100%;
  align-items: center;
}

#exp1{
  width: 380px;
  height: 380px;
  margin-left: 80px;
}
#exp1:hover{
  transform: scale(1.1);
    transition: all 0.5s;
}
#exp2{
  width: 380px;
  height: 380px;
  margin-left: 60px;
}
#exp2:hover{
  transform: scale(1.1);
    transition: all 0.5s;
}

#exp3{
  width: 380px;
  height: 380px;
  margin-left: 60px;
}
#exp3:hover{
  transform: scale(1.1);
    transition: all 0.5s;
}
#exp4{
  width: 380px;
  height: 380px;
  margin-left: 60px;
}
#exp4:hover{
  transform: scale(1.1);
    transition: all 0.5s;
}

#bemvindo{
  margin-left: 660px;
}

.botone{
    background-color: #92D1FF; 
    border-radius: 5px ;
    border: 2px;
    width: 300px;
    height: 45px;
    box-shadow:2px 3px #466f8b;
    margin-top: 10px;
    margin-left: 770px;
    font-family: Mate SC;
    font-size: larger;
}

.botone:hover{
    transform: scale(1.4);
    transition: all 0.5s;
}

#encontre{
  margin-left: 700px;
}
